---
import HeaderLink from "./HeaderLink.astro";

// const locals = Astro.locals;
---

<header>
  <nav>
    <!-- <h3>{locals?.prerender ? "Prerendered" : ""}</h3> -->
    <ul class="internal-links">
      <HeaderLink class="prerender-immediate" href="./"
        >Prerender immediate</HeaderLink
      >
      <HeaderLink
        class="prerender-conservative"
        href="conservative?prerender=conservative"
        >Prerender conservative</HeaderLink
      >
      <HeaderLink class="prerender-moderate" href="moderate?prerender=moderate"
        >Prerender moderate</HeaderLink
      >
      <hr />
      <HeaderLink
        class="prerender-immediate"
        href="immediate?blockFor=3000&prerender=immediate"
        >Prerender immediate and block for 3 seconds</HeaderLink
      >
      <HeaderLink
        class="prerender-conservative"
        href="conservative?blockFor=3000&prerender=conservative"
        >Prerender conservative and block for 3 seconds</HeaderLink
      >

      <HeaderLink
        class="prerender-moderate"
        href="moderate?blockFor=3000&prerender=moderate"
        >Prerender moderate and block for 3 seconds</HeaderLink
      >

      <hr />
      <HeaderLink class="prefetch-immediate" href="immediate?prefetch=immediate"
        >Prefetch immediate</HeaderLink
      >
      <HeaderLink
        class="prefetch-conservative"
        href="conservative?prefetch=conservative"
        >Prefetch conservative</HeaderLink
      >
      <HeaderLink class="prefetch-moderate" href="moderate?prefetch=moderate"
        >Prefetch moderate</HeaderLink
      >
    </ul>
  </nav>
  <script is:inline>
    document.querySelectorAll(".menu-item").forEach((item) => {
      if (item.href === location.href.replace("/?", "?")) {
        item.classList.add("active");
      }
    });
  </script>
  <style>
    header {
      margin: 0;
      padding: 0 1em;
      background: white;
      box-shadow: 0 2px 8px rgba(var(--black), 5%);
    }
    h2 {
      margin: 0;
      font-size: 1em;
    }

    h2 a,
    h2 a.active {
      text-decoration: none;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    nav a {
      color: var(--black);
      border-bottom: 4px solid transparent;
      text-decoration: none;
    }
    nav a.active {
      text-decoration: none;
    }
  </style>
</header>
